<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Ponomarev_N.Properties.Settings.Ponomarev_NConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Ponomarev_N.mdb"
            providerName="System.Data.OleDb" />
        <add name="Ponomarev_N.Properties.Settings.Ponomarev_NConnection"
            connectionString="Data Source=DESKTOP-FKVQ8KB\SQLEXPRESS;Initial Catalog=Ponomarev_N;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>